<section ng-controller='MainController'>
	<h1>Welcome to Tech Blogs</h1>
	<p>{{ !!currentUser }}</p>
	<ul ng-repeat='(date, posts) in postList'>
		<h1>{{ date }}</h1>
		<li ng-repeat='post in posts'>
			<p>{{ post.vote_count }}</p>
			<button ng-click='upvote(post)' ng-disabled='hasVoted(post)'></button>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	</ul>

	<form id='post-form' ng-if='currentUser' ng-submit='save(newPost)'>
		<input type='text' placeholder='Blog Title' ng-model='newPost.title'>
		<input type="text" placeholder='Blog Tagline' ng-model='newPost.tagline'>
		<input type="text" placeholder='Blog URL' ng-model='newPost.url'>
		<input type="submit">
	</form>

</section>

<section ng-controller='loginController'>
	<form ng-hide='currentUser' ng-submit='login(credentials)'>
		<input type="text" placeholder='Email' ng-model='credentials.email'>
		<input type="password" placeholder='Password' ng-model='credentials.password'>
		<input type="submit">
	</form>
</section>